RPC_URL="https://sepolia-rollup.arbitrum.io/rpc"
IPFS_PINATA_JWT="..."
IPFS_GATEWAY_URL="....mypinata.cloud"
PRIVATE_KEY="..."
RELAYER_PRIVATE_KEY="..."
CONTRACT_ADDRESS="0x7e2d75b011ebddfbed99e3826f538d0e7cf63745"
CHAIN_ID=421614