RPC_URL="https://sepolia-rollup.arbitrum.io/rpc"
IPFS_PINATA_JWT="..."
IPFS_GATEWAY_URL="..."
PRIVATE_KEY="0x..."
RELAYER_PRIVATE_KEY="0x..."
CONTRACT_ADDRESS="0x67bd3931388eb74506e41beb48a53335d6fce92c"

